h2{
    background-color:  rgb(191, 209, 232);
    color:rgb(71, 119, 178);
}
.span1{
    color: rgb(103, 139, 299);
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}
.span2{
    color: rgb(0, 89, 255)
}
.span3{
    color: rgb(89, 165, 226)
}
.span4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.span5{
    font-family: 'Courier New', Courier, monospace ;
}